body, html {
    height: 100%;
}


#console {
  display:none;
  height:250px;
  width:350px;
  background-color:#000;
  font-family:monospace;
  color:#FFF;
}

#userInput {
  width:350px;
  background-color:#000;
  color:#fff;
}

input:focus {
  border-color: inherit;
  -webkit-appearance: none;
  box-shadow: none;
}

#log {
    overflow-y:scroll;
    height:250px;

}
.initialBackGround { 	
    /* The image used */
    background-image: url("img/abstractBackground.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}	

.bgimg-1{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("");
  /*
    "img/HeadShot.jpg"
  */
}

.col-main {
  margin-top:3em;
  margin-left:15%;

}

#headShot {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  z-index: 20;
}

.flip {
  transform: rotate(-180deg);
}


.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  background-color:rgba(0,0,0, 0.65);
}
.caption span.border:hover {
  background-color:rgba(0,0,0, 1);
  cursor: pointer;
}

.headShot {
  position: absolute;
  margin-top: 2%;
  margin-left: 50%;

}
