body, html {
    height: 100%;
}


#console {
  display:none;
  height:250px;
  width:350px;
  background-color:#000;
  font-family:monospace;
  color:#FFF;
}

#userInput {
  width:350px;
  background-color:#000;
  color:#fff;
}

input:focus {
  border-color: inherit;
  -webkit-appearance: none;
  box-shadow: none;
}
#name{
  font-size:2em;
}
#log {
    overflow-y:scroll;
    height:250px;

}
#linkHolder{
  text-align: center;
  display:inline-block;
}
.socialMedia{
  width:30px;
}


.socialMedia:hover{
  width:30px;
  opacity:0.5;
}

.container{
  padding-top:2em;
  background-color:rgba(100,100,100,0.9);
  height:45em;
  margin-bottom:5em;
  -webkit-box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 4px 4px 4px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
   border-radius:2em;
}

#headShotImage{
  height:100%;
  width:auto;
}



.initialBackGround { 	
    /* The image used */
    /*background-image: url("img/bg.png");      */
    background-repeat:repeat;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
 /*   background-position: center;
    background-size: cover;*/
}	

.bgimg-1{
  position: relative;
  padding-left:2em;
  padding-right:2em;
  background-position: center;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("");
  /*
    "img/HeadShot.jpg"
  */
}
.col-main{
  padding-top:3em;

  min-width:30%;
  width:100%;
  padding-right:1em;
}
.specialRow{
  padding-top:1em;
  padding-left:3em;
  margin-bottom: 4em;
}

#headShot {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
  z-index: 20;
}

.flip {
  transform: rotate(-360deg);

}
.row{
  padding-bottom:0.5em;
}

.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  background-color:rgba(0,0,0, 0.65);

}
.border:hover {
  background-color:rgba(0,0,0, 1);
  cursor: pointer;
}

.headShot {
  margin-top: 0%;

  min-width:1em;
}

.jumbotron h1{
  font-family:"Courier New", Courier, monospace;
  font-weight: 700;
  width:100%;
  text-align:center;
}
